.vs/
~$oposal.docx
Release/
*.vcxproj.*
*.vcxproj
WaterProj/x64/
WaterProj/WaterProj.sln
~$ssertation Draft.docx
~WRL3876.tmp
WaterProj/WaterProj/x64/Debug/WaterProj.tlog/WaterProj.lastbuildstate
WaterProj/WaterProj/x64/Debug/WaterProj.tlog/unsuccessfulbuild
WaterProj/WaterProj/x64/Debug/WaterProj.tlog/CL.command.1.tlog
WaterProj/WaterProj/x64/Debug/WaterProj.log
WaterProj/WaterProj/x64/Debug/vc142.pdb
WaterProj/WaterProj/x64/Debug/vc142.idb
*.tmp
Documentation/*
